.git
*.py[cod]
__pycache__
**/__pycache__
._vscode
.mypy_cache
.pytest_cache
.ruff_cache
cicd
doc
.env.sample
.env
.gitignore
.pre-commit-config.yaml
bitbucket-pipelines.yml
docker-compose.yml
Dockerfile
tests/test-reports/*
venv/